{% extends 'student/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}{% trans 'Communicate with the administrator' %}{% endblock meta_title %}

{% block title %}{% trans 'Communicate with the administrator' %}{% endblock title %}

{% block status_message %}
  {% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans 'Please correct the following errors' %}
  </div>
  {% endif %}
  {{ block.super }}
{% endblock status_message %}

{% block content %}

{% crispy form %}

{% endblock content %}