{% load staticfiles %}
{% load i18n %}
{% load get_current_language from i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang=”ru”>
<head>
  <meta charset="UTF-8"/>
  <title> {% trans 'Students Accounting Service' %} - {% block meta_title %}{% endblock meta_title %} </title>
  <meta name="description" value="{% trans 'App to manage students d8 atabase' %}"/>
  <meta name="iewport" content="width=device-width, initial-scale=1\ ">
  <!-- Include Styles -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet"
        href="{% static 'student/css/main.css' %}">
  {% block extra_css %}{% endblock extra_css %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Ссылка</a></li>
        <li><a href="#">Ссылка</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Действие</a></li>
            <li><a href="#">Другое действие</a></li>
            <li><a href="#">Что-то еще</a></li>
            <li class="divider"></li>
            <li><a href="#">Отдельная ссылка</a></li>
            <li class="divider"></li>
            <li><a href="#">Еще одна отдельная ссылка</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>

         <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="navLang" title="{% trans 'Select Language:' %}">
             <span class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></span><span class="visible-xs-inline">  Английский</span></a>
         <ul class="dropdown-menu" aria-labelledby="navLang">
            <li><a href="{% url 'lang' 'en' %}"><span class="flag-icon flag-icon-en"></span>  {% trans "English" %}</a></li>
            <li><a href="{% url 'lang' 'ru' %}"><span class="flag-icon flag-icon-ru"></span>  {% trans "Russian" %}</a></li>
         </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <!-- Start Container -->
  <div class="container">

    <!-- Start Header -->
{#    <div class="row" id="header">#}
{#      <div class="col-xs-8">#}
{#        <h1></h1>#}
{#      </div>#}
{#      <div class="col-xs-4">#}
{#        <strong>{% trans 'Select Language:' %}</strong>#}

{#            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#                <input name="next" type="hidden" value="/" />#}
{#                <select name="language">#}
{#                    {% get_current_language as LANGUAGE_CODE %}#}
{#                    {% get_available_languages as LANGUAGES %}#}
{#                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                    {% for language in languages %}#}
{#                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                            {{ language.name_local }} ({{ language.code }})#}
{#                        </option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <input type="submit" value="apply" />#}
{#            </form>#}

{#                {% for lang in LANGUAGES %}#}
{#                      <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">#}
{#                      {% csrf_token %}#}
{#                        <input name="next" type="hidden" value="/">#}
{#                        <input type="hidden" name="language" value="{{ lang.0 }}">#}
{#                        <a href="#" onclick="document.setLang{{ lang.1 }}.submit();#}
{#                            return false;">{{ lang.1 }}</a>#}
{#                      </form>#}
{#                  {% endfor %}#}

{#            <form action="{% url 'set_language' %}" method="POST">#}
{#              {% csrf_token %}#}
{#              <input name="next" type="hidden" value="/" /><br/>#}
{#              <select name="language">#}
{#                {% for lang in LANGUAGES %}#}
{#                  <option value="{{ lang.0 }}">{{ lang.1 }}</option>#}
{#                {% endfor %}#}
{#              </select><br/>#}
{#              <input type="submit" value="{% trans 'change' %}" />#}
{#            </form>#}
{#      </div>#}
{#    </div>#}
    <!-- End Header -->

      <!-- Start Header -->
    <div class="row" id="header">
      <div class="col-xs-8">
        <h1><a href="/">{% trans 'Students Accounting Service' %}</a></h1>
      </div>
      <div class="col-xs-4" id="group-selector">
        <strong>{% trans 'Group:' %}</strong>
        <select>
          <option value="">{% trans 'All Students' %}</option>
          {% for group in GROUPS %}
          <option value="{{ group.id }}"{% if group.selected %}selected="1"{% endif %}>{{ group.title }}{% if group.leader %}, {{ group.leader }}{% endif %}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <!-- End Header -->

    <!-- Start subheader -->
    <div class="row" id="sub-header">
      <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            {% url 'home' as url_home %}
          <li role="presentation" {% if request.path == url_home %} class="active" {% endif %}><a href="{% url 'home' %}">{% trans 'Students' %}</a></li>
            {% url 'journal' as url_journal %}
          <li role="presentation" {% if request.path == url_journal %} class="active" {% endif %}><a href="{% url 'journal' %}">{% trans 'Journal' %}</a></li>
            {% url 'groups' as url_groups %}
          <li role="presentation" {% if request.path == url_groups %} class="active" {% endif %}><a href="{% url 'groups' %}">{% trans 'Groups' %}</a></li>
            {% url 'contact_admin' as url_contact_admin %}
          <li role="presentation" {% if request.path == url_contact_admin %} class="active" {% endif %}><a href="{% url 'contact_admin' %}">{% trans 'Contact' %}</a></li>
        </ul>
      </div>
    </div>
    <!-- End subheader -->

    <!-- Start Content Columns -->
    <div class="row" id="content-columns">
      <div class="col-xs-12" id="content-column">

      {% block status_message %}
          {% if request.GET.status_message %}
        <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
          {% endif %}
      {% endblock %}

        <h2>{% block title %}{% endblock title %}</h2>
      {% block content %}{% endblock content %}

      </div>
    </div>
    <!-- End Content Columns -->

    <!-- Start Footer -->
    <div class="row" id="footer">
      <div class="col-xs-12">
        &copy; 2014 {% trans 'Students Accounting Service' %}
      </div>
    </div>
    <!-- End Footer -->

  </div>
  <!-- End Container -->

    <!-- Modal Boilerplate -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><!-- --></h4>
        </div>
        <div class="modal-body"><!-- --></div>
        <div class="modal-footer"><!-- --></div>
      </div>
    </div>
  </div>

  <!-- Javascripts Section -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{% url 'js_translite' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>