{% extends "student/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans 'Visiting account' %}{% endblock meta_title %}

{% block title %}{% trans 'Visiting account' %}{% endblock title %}

{% block content %}

    {% if not students %}

<div class="alert alert-warning">
    {% trans 'So far there is no student at the base. Please' %}
    <a href="{% url "student_add" %}">{% trans 'Add' %}</a> {% trans 'The first one' %}.
</div>

{% else %}

<div class="alert alert-warning">
    {% trans 'Changes to the log are saved automatically with each click in the cell tables' %}
    <span id="ajax-progress-indicator">{% trans 'It is saving ...' %}</span>
</div>

<p id="journal-nav" class="text-center">
  <a href="?month={{ prev_month }}"
     title="{% trans 'Previous Moon' %}">&larr;</a>
  <!-- TODO: translate month name -->
  <strong>{% trans month_verbose %} {{ year }}</strong>
  <a href="?month={{ next_month }}"
     title="{% trans 'The next month' %}">&rarr;</a>
</p>

<table class="table table-hover table-striped table-bordered"
       id="students-journal">

  <thead>
    <tr>
      <th>#</th>
      <th>{% trans 'Student' %}</th>
      {% for day in month_header %}
      <th class="day-header">
        <!-- TODO: translate day name -->
        {% trans day.verbose %}
        <br />
        {{ day.day }}
      </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>

    {% csrf_token %}

    {% for student in students %}
    <tr>

      <td>
        {% if is_paginated %}
          {{ page_obj.start_index|add:forloop.counter0 }}
        {% else %}
          {{ forloop.counter }}
        {% endif %}
      </td>

      <td>
        <a title="{% trans 'Edit' %}" target="_blank"
           href="{% url "student_edit" student.id %}">
          {{ student.fullname }}
        </a>
      </td>

      {% for day in student.days %}
      <td class="day-box">
        <input type="checkbox" data-student-id="{{ student.id }}"
               data-date="{{ day.date }}" data-url="{{ student.update_url }}"
               value="1"{% if day.present %} checked="checked" {% endif %} />
      </td>
      {% endfor %}

    </tr>
    {% endfor %}

  </tbody>
</table>

{% endif %}

{% with object_list=students %}
  {% include "student/pagination.html" %}
{% endwith %}

{% endblock content %}