{% extends 'student/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans 'Delete student' %}{% endblock meta_title %}

{% block title %}{% trans 'Delete student' %}{% endblock title %}

{% block content %}

<form action='{% url 'student_delete' object.id %}' method='post'>
{% csrf_token %}
<p>{% trans 'Are you sure you want to delete the student' %} - {{ object }}?</p>
<input type='submit' value='{% trans 'Yes' %}' name='delete_button'
class='btn btn-danger' /><br /><br />
</form>

{% endblock content %}